
.carousel-item {
  height: 90vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				font-family:Arial, Helvetica, sans-serif;

			}
			
			
						
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:12px 25px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav{
				background: black;
				width: 100%;
				
			}
			
			
			