

body{
	background:gray;
}

.uno{
	background: white;
	padding: 5px;
	margin: 5px;
	
}


.dos{
	background:white;
	display: inline-block;
	float: right;
	width: 65%;
	text-align: justify;
	font-size: 16px;

	}

div,img{
	border-radius: 10px;
}